<div class="relative 2xl:pb-[110px] xl:pb-20 lg:pb-16 md:pb-12 pb-10">
    <div class="container">
        <h2
            class="2xl:text-45 1xl:text-2xl xl:text-1xl lg:text-32 sm:text-xl text-28 leading-lineHeight text-black font-Larken font-medium md:text-center mb-5 md:mb-8 lg:mb-9 xl:mb-10 2xl:mb-[50px]">
            {{section_title}}</h2>
        <p
            class="2xl:text-lg text-md leading-lineHeight font-normal text-gray-800 mb-5 md:mb-8 lg:mb-9 xl:mb-10 2xl:mb-11">
            {{if description !== ""}}
            {{description}}
            {{/if}}
        </p>

        <div
            class="grid xl:grid-cols-4 lg:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-6 md:gap-8 lg:gap-9 xl:gap-10 2xl:gap-[50px]">
            {{card_grid}}
            <div class="border border-gray-700 2xl:p-[30px] xl:p-7 lg:p-6 md:p-5 p-4">
                <h4
                    class="lg:text-25 sm:text-20 text-lg leading-lineHeight text-black hover:text-vividblue-400 font-Larken font-medium mb-4">
                    {{if link != ''}}
                    <a href="{{link}}" class="text-currentColor">{{title}}</a>
                    {{else}}
                    <p class="text-currentColor">{{title}}</p>
                    {{/if}}
                </h4>
                <p
                    class="lg:text-lg text-md leading-lineHeight font-normal text-gray-800 mb-5 md:mb-7 lg:mb-8 xl:mb-9 2xl:mb-10">
                    {{description}}</p>

                <a href="{{link}}"
                    class="flex items-center lg:text-lg text-md hover:text-black gap-3 text-vividblue-400">
                    Read more<span><svg width="11" height="14" viewBox="0 0 11 14" fill="none">
                            <path d="M0.333984 13.4168V0.583496L10.4173 7.00016L0.333984 13.4168Z" fill="currentColor">
                            </path>
                        </svg></span>
                </a>
            </div>
            {{ /card_grid }}


        </div>
    </div>
</div>