<div class="relative py-7 sm:py-8 md:py-10 lg:py-12 xl:py-14 2xl:py-16 mb-7 sm:mb-8 md:mb-10 lg:mb-12 xl:mb-14 2xl:mb-16">
    <div class="container">
        <h2 class="2xl:text-45 1xl:text-2xl xl:text-1xl lg:text-32 sm:text-xl text-28 leading-lineHeight text-black sm:text-left text-center font-Larken font-medium mb-5 sm:mb-8 md:mb-10 lg:mb-12 xl:mb-14 2xl:mb-16">{{section_title}}</h2>
        <p
        class="2xl:text-lg text-md leading-lineHeight font-normal text-gray-800 mb-5 md:mb-8 lg:mb-9 xl:mb-10 2xl:mb-11">
        {{if description !== ""}}
        {{description}}
        {{/if}}
    </p>

        <div class="grid xl:grid-cols-4 lg:grid-cols-3 sm:grid-cols-2 grid-cols-1 border-gray-700 relative before:content-[''] before:absolute before:right-0 before:top-0 before:w-[1px] before:h-full before:bg-white after:content-[''] after:absolute after:left-0 after:bottom-0 after:w-full after:h-[1px] after:bg-white">
            {{simple_grid}}
            <div class="border-r border-b border-gray-700 2xl:p-[60px] xl:p-14 lg:p-10 md:p-8 sm:p-6 p-5">
                <div class="text-black w-20 h-20 lg:w-[120px] lg:h-[120px] mx-auto border-[7px] border-gray-200 bg-white p-3 rounded-full flex items-center justify-center lg:mb-4 mb-3">
                    <img src="{{icon}}" alt="img" class="lg:w-[50px] lg:h-[50px] w-10 h-10 object-contain object-center">
                </div>
                <h4 class="lg:text-25 sm:text-20 text-lg leading-lineHeight text-black hover:text-vividblue-400 text-center font-Larken font-medium ">
                    {{if link != ''}}
                    <a href="{{link}}" class="text-currentColor">{{title}}</a>
                    {{else}}
                    <a href="{{is_corrent}}" class="text-currentColor">{{title}}</a>
                    {{/if}}
                </h4>
            </div>
            {{ /simple_grid }}
        </div>
    </div>
</div>