{{ if article_fild_type == "bard"}}
<div class="relative 2xl:pt-[100px] xl:pt-20 lg:pt-16 md:pt-12 pt-10 pb-5 sm:pb-8 md:pb-10 lg:pb-12 xl:pb-14 2xl:pb-16">
    <div class="container">
        <p class="2xl:text-20 lg:text-lg text-md leading-normal font-normal text-gray-800">{{bard_artical}}</p>
    </div>
</div>
{{else}}
<div class="service-div relative 2xl:pt-[100px] xl:pt-20 lg:pt-16 md:pt-12 pt-10 pb-5 sm:pb-8 md:pb-10 lg:pb-12 xl:pb-14 2xl:pb-16">
    <div class="container">
        {{article}}
    </div>
</div>
{{/if}}