<div class="herald-sector-section relative pt-10 md:pt-12 lg:pt-16 xl:pt-20 2xl:pt-[120px] 2xl:pb-[120px] xl:pb-20 lg:pb-16 md:pb-14 pb-10">
    <div class="container">
        <div class="w-full">
            <h2 class="2xl:text-45 1xl:text-2xl xl:text-1xl lg:text-32 sm:text-xl text-28 mb-0 leading-lineHeight text-black text-center font-Larken font-medium">{{section_title}}</h2>
        </div>
        <div class="mt-6 lg:mt-10 grid 2xl:grid-cols-5 xl:grid-cols-4 lg:grid-cols-3 sm:grid-cols-2 gap-6 xl:gap-8 2xl:gap-9">
            {{sector}}
            <div class="herald-sector-card w-full text-center p-6 xl:px-6 xl:py-8 2xl:px-7 2xl:py-12">
                <div class="herald-sector-icon">
                {{image}}
                    <img src="{{image}}" alt="{{title}}" width="56" height="56" />
                {{/image}}
                </div>
                <p class="2xl:text-20 lg:text-lg text-md leading-lineHeight font-bold text-black mt-5 lg:mt-6 xl:mt-8">{{title}}</p>
            </div>
            {{/sector}}
        </div>
    </div>
</div>