<!-- Sticky Tab Navigation -->
<div class="relative py-6 border-b border-gray-700 sticky top-0 z-20 bg-white">
    <div class="container">
        <div class="overflow-x-auto">
            <ul class="flex justify-between flex-nowrap lg:gap-x-5 gap-x-8 gap-y-3">
                {{ process_grid }}
                <li>
                    <a href="#{{ element_id }}"
                        class="lg:max-w-[232px] flex items-center lg:gap-[18px] gap-2 font-medium font-Satoshi leading-lineHeight text-black md:text-lg text-md whitespace-nowrap lg:whitespace-normal">
                        <span class="text-vividblue-400 lg:text-25 sm:text-20 text-lg leading-lineHeight font-medium">
                            {{ count }}.
                        </span>
                        {{ title }}
                    </a>
                </li>
                {{ /process_grid }}
            </ul>
        </div>
    </div>
</div>

<!-- Process Sections -->
<section class="relative overflow-hidden mb-7 sm:mb-8 md:mb-10 lg:mb-12 xl:mb-14 2xl:mb-16">
    {{ process_grid }}
    <div class="relative" id="{{ element_id }}">
        <div class="container">
            <div class="flex flex-col md:flex-row">

                {{ if count % 2 != 0 }}
                <!-- Image on Left for Odd Index -->
                <div class="overflow-hidden md:absolute left-0 top-0 bottom-0 h-full w-full md:w-[50%]">
                    <img src="{{ image }}" class="w-full h-full object-cover object-center" alt="">
                </div>

                <div class="bg-white w-full ml-auto md:w-[50%] flex items-center xl:min-h-[510px] md:min-h-[400px]">
                    <div class="w-full max-w-[645px] py-8 px-0 md:px-8 lg:px-10 xl:px-12 2xl:pl-20 2xl:pr-0">
                        <h3
                            class="2xl:text-45 1xl:text-2xl xl:text-1xl lg:text-32 sm:text-xl text-28 leading-lineHeight lg:mb-5 mb-4 text-black font-Larken font-medium">
                            {{ title }}
                        </h3>
                        <p
                            class="tracking-[0.02em] lg:text-lg text-md leading-lineHeight font-normal text-gray-800 mb-5 md:mb-7">
                            {{ short_description }}
                        </p>

                        {{ if button }}
                        {{button}}
                        <a href="{{ link }}"
                            class="mt-5 font-bold flex items-center md:text-lg text-md hover:text-black text-vividblue-400">
                            {{ text }}
                            {{ if icon ends_with ".svg" }}
                            {{ svg src='{icon}' class="ml-1" width="16" height="16" viewBox="0 0 16 16"
                            fill="none" }}
                            {{ else }}
                            <img src="{{ icon }}" alt="" class="ml-1" width="16" height="16" />
                            {{ /if }}
                        </a>
                        {{/button}}
                        {{ /if }}

                    </div>
                </div>
                {{ /if }}

                {{ if count % 2 == 0}}


                <div class="bg-white w-full md:w-[50%] flex items-center xl:min-h-[510px] md:min-h-[400px]">
                    <div class="w-full max-w-[720px] py-8 px-0 md:px-8 lg:px-10 xl:px-12 2xl:pl-0 2xl:pr-[120px]">
                        <h3
                            class="2xl:text-45 1xl:text-2xl xl:text-1xl lg:text-32 sm:text-xl text-28 leading-lineHeight lg:mb-5 mb-4 text-black font-Larken font-medium">
                            {{ title }}</h3>
                        <p
                            class="tracking-[0.02em] lg:text-lg text-md leading-lineHeight font-normal text-gray-800 mb-5 md:mb-7">
                            {{short_description}}</p>
                        {{ if button }}
                        {{button}}
                        <a href="{{ link }}"
                            class="mt-5 font-bold flex items-center md:text-lg text-md hover:text-black text-vividblue-400">
                            {{ text }}
                            {{ if icon ends_with ".svg" }}
                            {{ svg src='{icon}' class="ml-1" width="16" height="16" viewBox="0 0 16 16"
                            fill="none" }}
                            {{ else }}
                            <img src="{{ icon }}" alt="" class="ml-1" width="16" height="16" />
                            {{ /if }}
                        </a>
                        {{/button}}
                        {{ /if }}
                    </div>
                </div>
                <div class="overflow-hidden md:absolute right-0 top-0 bottom-0 h-full w-full md:w-[50%]">
                    <img src="{{ image }}" class="w-full h-full object-cover object-center" alt="">
                </div>
                {{ /if }}
            </div>
        </div>
    </div>
    <!-- Image on Right for Even Index -->
    {{ /process_grid }}
</section>