<div class="relative py-7 sm:py-8 md:py-10 lg:py-12 xl:py-14 2xl:py-16">
    <div class="container">
        <h2 class="2xl:text-45 lg:text-3xl sm:text-1xl text-28 2xl:mb-10 xl:mb-9 lg:mb-8 mb-5 leading-lineHeight text-black font-Larken font-medium">{{section_title}}</h2>
        <div class="w-full grid sm:grid-cols-3 grid-cols-2 gap-5">
            {{galleries}}
            <div class="w-full block relative before:content-[''] before:block before:pt-[100%] group">
                <a href="{{link}}" class="w-[calc(100%-52px)] h-[calc(100%-52px)] flex items-center justify-center backdrop-blur group-hover:opacity-100 opacity-0 bg-black bg-opacity-50 absolute top-2/4 left-2/4 transition-all -translate-y-2/4 -translate-x-2/4 z-1">
                    <svg class="xl:w-10 lg:w-9 md:w-8 w-7" width="50" height="36" viewBox="0 0 50 36" fill="none">
                        <path d="M23.2154 1.92871L33.9297 12.643L23.2154 23.3573" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M1.78627 34.0716V26.9287C1.78627 23.1399 3.29137 19.5063 5.97046 16.8272C8.64955 14.1481 12.2832 12.643 16.072 12.643H33.9291M37.5006 1.92871L48.2148 12.643L37.5006 23.3573" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    {{if icon ends_with ".svg"}}
                        {{ svg src="{{ icon }}" class="ml-2 inline-block" width="14" height="13" viewBox="0 0 14 13" }}
                    {{else}}
                        <img src="{{ icon }}" alt="" class="ml-2 inline-block" width="14" height="13">
                    {{/if}}
                </a>
                <img src="{{image}}" alt="" class="absolute top-0 left-0 w-full h-full object-cover">
            </div>
            {{/galleries}}
        </div>
    </div>
</div>