<section class="relative bg-gray-200 2xl:py-20 xl:py-16 lg:py-14 md:py-12 py-10">
    <div class="container">
        <div class="text-center">
            <h1 class="2xl:text-4xl lg:text-3xl sm:text-1xl text-xl lg:mb-5 mb-4 leading-lineHeight text-black font-Larken font-medium">
                {{ page_title }}
            </h1>
            <p class="2xl:text-lg text-md leading-lineHeight font-normal text-gray-800">
            {{effective_date}}
            </p>
        </div>
    </div>
</section>

<section class="relative overflow-hidden 2xl:pt-20 xl:pt-16 lg:pt-14 md:pt-12 sm:pt-8 pt-7 pb-7 sm:pb-8 md:pb-10 lg:pb-12 xl:pb-14 2xl:pb-16">
    <div class="container relative z-1">
        <div class="max-w-[900px] w-full mx-auto cmc_content_page">
            {{article}}
        </div>
    </div>
</section>
