<div class="relative 2xl:pt-[100px] 2xl:pb-[120px] xl:pt-20 xl:pb-20 lg:pt-16 lg:pb-16 md:pt-14 md:pb-14 sm:pt-12 md:pb-12 pt-10 pb-10">
    <div class="container">
        <div class="w-full">
            <h2 class="2xl:text-45 1xl:text-2xl xl:text-1xl lg:text-32 sm:text-xl text-28 mb-0 leading-lineHeight text-black font-Larken font-medium">{{section_title}}</h2>
        </div>
        <div class="mt-6 lg:mt-10 flex justify-between flex-col md:flex-row gap-6 md:gap-10 lg:gap-16 xl:gap-24 2xl:gap-28">
            {{description}}
            <div class="w-full">
                <p class="2xl:text-20 lg:text-lg text-md leading-lineHeight font-normal text-gray-800">{{text}}</p>
            </div>
            {{/description}}
           
        </div>
    </div>
</div>
