<div class="relative bg-insight-detail-bg bg-cover bg-center before:absolute before:bottom-0 before:left-0 before:w-full before:h-2/6 before:bg-custom-gradient-200 before:content-[''] 2xl:min-h-[650px] flex flex-col justify-end" style="background-image: url('{{ image }}')">
    <div class="container 2xl:pt-64 xl:pt-56 lg:pt-52 md:pt-40 sm:pt-36 pt-28 pb-14">
        <div class="flex justify-between flex-col gap-5 relative z-1">
            <div class="w-full max-w-[900px] mx-auto">
                <div class="flex flex-wrap gap-3 mb-6">
                    <label class="font-Satoshi font-bold text-white text-13 border border-white py-1 px-[14px] rounded-2xl uppercase"> {{ date format="d M, Y" }}</label>
                    <div class="font-Satoshi font-normal text-white text-md relative pl-4 before:content-[''] before:absolute before:top-1/2 before:-translate-y-1/2 before:left-0 before:w-1 before:h-1 before:bg-white before:rounded-full before:rounded-full">By {{author.title}}</div>
                </div>
                <h2 class="2xl:text-45 lg:text-3xl sm:text-1xl text-28 leading-none text-white font-Larken font-medium">{{ title }}</h2>
            </div>
        </div>
    </div>
</div>
<!-- ====== Hero Section ====== -->

<!-- ====== Default Text Section ====== -->
<section class="relative overflow-hidden pt-10 pb-5 sm:pb-8 md:pb-10 lg:pb-12 xl:pb-14 2xl:pb-16 mb-5 sm:mb-8 md:mb-10 lg:mb-12 xl:mb-14 2xl:mb-16">
    <div class="container relative z-1">
        <div class="max-w-[900px] w-full mx-auto">

            <ul class="flex flex-wrap gap-3 w-full border-b border-gray-700 md:pb-10 pb-8 md:mb-10 mb-8">
                {{ social_share }}
               {{ socials }}

               <li>
                  <a class="lg:w-[46px] lg:h-[46px] h-9 w-9 bg-black p-2 text-white text-lg hover:bg-vividblue-400 flex items-center justify-center rounded-full" href="{{ url }} {{config:app.url}}/insights/{{ slug }}" target="_blank"> <i class="fa-brands fa-{{ platform }}"></i>
                  </a>
              </li>
             
             {{ /socials }}
             {{ /social_share }}
         </ul>
         {{ content_sections }}
         <div class="md:mb-10 mb-8">
            {{ if heading }}
            <h3 class="2xl:text-32 lg:text-xl sm:text-28 text-25 lg:mb-5 mb-3 leading-tight text-black font-Larken font-medium">{{ heading}}</h3>
            {{ /if }}

            {{ paragraphs }}
            {{ if paragraph }}
            <p class="lg:text-20 md:text-18 text-md lg:mb-5 mb-3 leading-normal text-gray-800 font-Satoshi"> 
              {{ paragraph }}
            </p>
            {{ /if }}
            {{ /paragraphs }}
        </div>
        {{ /content_sections }}

    </div>
</div>
</section>
<!-- ====== Default Text Section ====== -->

<!-- ====== Related Section ====== -->
{{if related_insights}}
<div class="relative bg-gray-200">
    <div class="container 2xl:pb-[90px] 2xl:pt-[70px] xl:py-16 lg:py-14 md:py-12 py-10">
        <div class="w-full max-w-[900px] mx-auto">
            <h2 class="2xl:text-45 lg:text-3xl sm:text-1xl text-28 leading-normal text-black font-Larken font-medium lg:mb-8 md:mb-6 mb-2">{{ related_insight_text }}</h2>
            <div class="grid sm:grid-cols-2 grid-cols-1 gap-6 md:gap-8">
               {{ related_insights limit="2" }}

               <div class="bg-white border border-gray-700 border-t-0">
                <div class="relative w-full before:content-[''] before:block before:pt-[63%] overview-hidden mb-0">
                    <img class="absolute top-0 left-0 w-full h-full object-cover" src="{{ image }}" alt="">
                </div>
                <div class="p-6">
                    <div class="flex flex-wrap gap-3 mb-4">
                        <label class="font-Satoshi font-bold text-white text-13 bg-vividblue-400 py-1 px-[14px] rounded-2xl uppercase"> {{ date format="d M, Y" }}</label>
                        <a href="/insights/{{slug}}" class="font-Satoshi font-normal text-black hover:text-vividblue-400 text-md relative pl-4 before:content-[''] before:absolute before:top-1/2 before:-translate-y-1/2 before:left-0 before:w-1 before:h-1 before:bg-black before:rounded-full before:rounded-full">By {{ author.title }}</a>
                    </div>
                    <h4 class="lg:text-25 sm:text-20 text-lg mb-2 leading-normal text-black hover:text-vividblue-400 font-Larken font-medium"><a href="/insights/{{slug}}" class="text-currentColor">{{ title }}</a></h4>
                    <p class="text-md leading-normal font-normal text-gray-800">{{ description }}</p>
                    {{ if button_text }}
                    <a href="/insights/{{slug}}" class="mt-5 font-bold inline-flex items-center md:text-lg text-md hover:text-black text-vividblue-400">
                        {{ button_text }}
                        <svg class="ml-1" width="16" height="16" viewBox="0 0 16 16" fill="none">
                            <path d="M2.42969 14.1428L13.5725 3M13.5725 3V13.6972M13.5725 3H2.87541" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </a>
                    {{ /if }}
                </div>
            </div>
            {{ /related_insights }}
        </div>
    </div>
</div>
</div>
{{ /if }}